* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgb(107, 104, 104);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
    font-weight: bold;
    background: wheat;
    margin: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0px  0px  2px 2px white;
}

li {
    list-style-type: none;
    background-color: rgb(98, 42, 201);
    margin: 4px;
    margin-left: 40px;
    min-width: 200px;
    width: fit-content;
    color: #fff;
    padding: 5px;
    padding-left: 15px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0px  0px  2px 2px white;
}

#liForCount {
    background-color: rgb(25, 124, 63);
    width: 300px;
    margin-top: 10px;
}